.center {
    text-align: center;
}

.section-container {
    margin-bottom: 20px;
}

.section-heading {
    padding: 15px;
    border: 1px solid #0a5394;
    background: #0a5394;
    color: white;
    font-weight: bold;
}

.section-body {
    padding: 15px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

a {
    font-weight: bold;
    color: #0a5394;
}

ul.box-style {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 2px 0px #00000045;
}

ul.box-style li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
}

ul.tick-list {
    list-style: none;
    padding: 0px;
    margin-top: 3px;
}
ul.tick-list li:before {
    content: '\2714';
    padding-right: 10px;
}

ul.star-list {
    list-style: none;
    padding: 0px;
    margin-top: 3px;
}
ul.star-list li:before {
    content: '★';
    padding-right: 10px;
    font-size: 18px;
    color: #FF9800;
    font-weight: bold;
}

span.label {
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.padding-top-0px {
    padding-top: 0px;
}
.padding-bottom-0px {
    padding-bottom: 0px;
}
.padding-0px {
    padding: 0px;
}
.padding-10-0px {
    padding: 10px 0px;
}
.padding-15px {
    padding: 15px;
}

.border-1px-6c6c6c {
    border: 1px solid #6c6c6c;
}
.border-top-1px-6c6c6c {
    border-top: 1px solid #6c6c6c;
}
.border-right-1px-6c6c6c {
    border-right: 1px solid #6c6c6c;
}
.border-right-1px-silver {
    border-right: 1px solid silver;
}
.border-bottom-1px-6c6c6c {
    border-bottom: 1px solid #6c6c6c;
}
.border-top-1px-silver {
    border-top: 1px solid silver;
}
.border-bottom-1px-silver {
    border-bottom: 1px solid silver;
}

.details-heading {
    background: #6c6c6c4a;
    padding: 10px;
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}

ul.inline-list li {
    display: inline-block;
    width: 49%;
}

.style-ok-nok {
}

.style-ok {
    color: green;
}

.style-nok {
    color: red;
}

.bold {
    font-weight: bold;
}

#feature-selection_filter {
    float: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0 40px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -1px #6c6c6c;
    background: #f9f9f9;
}
.bs-callout h4 {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 15px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.margin-bottom-0px {
    margin-bottom: 0px;
}

.capimg {
    float: left;
}

.navbar.bg-primary {
    background: #0a5394 !important;
}
.navbar-nav li a {
    color: white !important;
    border-bottom: 5px solid transparent;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background: initial;
    color: initial;
    border-bottom: 5px solid white;
}